<ion-header>
  <ion-toolbar>
    <ion-title>新增</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>材料</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
    </ion-list>

  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button
        color="danger"
        fill="solid"
        shape="round"
        expand="block"
        (click)="close()"
      >
        取消
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        color="success"
        fill="solid"
        shape="round"
        expand="block"
        [disabled]="form.invalid"
        (click)="onSubmit()"
      >
        確定
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
