<ion-header>
  <ion-toolbar>
    <ion-title>{{mealCfg === undefined? '新增' : '編輯'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-list>
        <form formGroupName="classification">
          <ion-item>
          <ion-label>分類</ion-label>
          <ion-select interface="action-sheet" placeholder="選擇" formControlName="uid">
            <ion-select-option [value]="classfication.uid" *ngFor="let classfication of classfications">
              {{classfication.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        </form>

      <ion-item>
        <ion-label>餐點</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>價格</ion-label>
        <ion-input formControlName="price"></ion-input>
      </ion-item>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>材料</ion-label>

          <ion-buttons slot="end">
            <ion-button (click)="addIngredient()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-divider>

        <ng-container formArrayName="mealIngredients">
          <ng-container *ngFor="let mealIngredientForm of mealIngredients.controls; let idx = index">
            <ion-row [formGroupName]="idx" style="width: 95%;">
              <ion-col size="6" formGroupName="uid">
                <ion-select interface="action-sheet" placeholder="選擇" formControlName="ingredientUid">
                  <ion-select-option [value]="ingredient.uid" *ngFor="let ingredient of ingredients">{{ingredient.name}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="5">
                <ion-input formControlName="ingredientQty" placeholder="數量" type="number"></ion-input>
              </ion-col>
              <ion-col size="1">
                <ion-button (click)="deleteIngredient(idx)" fill="clear">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-container>
      </ion-item-group>
    </ion-list>

  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="danger" fill="solid" shape="round" expand="block" (click)="close()">
        取消
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="success" fill="solid" shape="round" expand="block"
        [disabled]="form.invalid || mealIngredients.length === 0" (click)="onSubmit()">
        確定
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
