<ion-header class="page-header">
  <ion-toolbar>
    <ion-title>
      <ion-label>用餐時間管理</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-row class="grid-title">
  <ion-col>
    <ion-label>桌次</ion-label>
  </ion-col>
  <ion-col>
    <ion-label>點餐時間</ion-label>
  </ion-col>
  <ion-col>
    <ion-label>上菜時間</ion-label>
  </ion-col>
  <ion-col>
    <ion-label>狀態</ion-label>
  </ion-col>
  <ion-col>
    <ion-label>&nbsp;</ion-label>
  </ion-col>
</ion-row>
<ion-content>

  <ion-grid class="grid">
    <ion-row class="order-log"
     *ngFor="let tableLog of tableLogs; let idx = index">
      <ion-col>
        <ion-label>{{tableLog.name}}({{tableLog.seats}}座)</ion-label>
      </ion-col>
      <ion-col (click)="showOrder(idx)">
        <ion-label>{{tableLog.orderLog?.orderTime | date : 'yyyy/MM/dd HH:mm'}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{tableLog.orderLog?.serveTime | date : 'yyyy/MM/dd HH:mm'}}</ion-label>
      </ion-col>
      <ng-container *ngIf="tableLog.orderLog?.serveTime;else ordered">
        <ion-col>
          <ion-label>上菜完畢</ion-label>
        </ion-col>
        <ion-col>
          <ion-button (click)="onCleared(idx)">
            清潔
          </ion-button>
        </ion-col>
      </ng-container>
      <ng-template #ordered>
        <ng-container *ngIf="tableLog.orderLog?.orderTime;else reservation">
          <ion-col>
            <ion-label>點餐結帳</ion-label>
          </ion-col>
          <ion-col>
            <ion-button (click)="onServed(idx)">
              上菜
            </ion-button>
          </ion-col>
        </ng-container>
      </ng-template>
      <ng-template #reservation>
        <ion-col>
          <ion-label>可預約</ion-label>
        </ion-col>
        <ion-col>
          <ion-button (click)="onOrdered(idx)">
            點餐
          </ion-button>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
