<ion-header>
  <ion-toolbar>
    <ion-title>進貨</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [formGroup]="form">
    <ion-item>
      <ion-label>材料</ion-label>
      <ion-input readonly [value]="ingredient.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>數量</ion-label>
      <ion-input type="number" formControlName="qty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>成本</ion-label>
      <ion-input type="number" formControlName="cost"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>備註</ion-label>
      <ion-textarea formControlName="comment"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button
        color="danger"
        fill="solid"
        shape="round"
        expand="block"
        (click)="close()"
      >
        取消
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        color="success"
        fill="solid"
        shape="round"
        expand="block"
        [disabled]="form.invalid"
        (click)="onSubmit()"
      >
        確定
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
